.phone-container
  .phone-header
    .phone-header__left
      = link_to image_tag('fmarket_logo_red.svg',size:"134x36"),'/'
    .phone-header__right

  .phone-main-content
    .phone-main-content__title
      電話番号の確認
    .phone-main-content__body
      .phone-main-content__body__text-box
        = form_for '#' do |f|
          .phone-text-top
            携帯電話の番号
          = f.text_field '#',class:'phone-main-content__body__text-box--boxing',placeholder: '携帯電話の番号を入力' 
          .phone-text-middle
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          %button.phone-main-content__body__text-box--btn
            SMSを送信する
          .phone-text-bottom
            ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
      .phone-main-content__body__under-link
        = link_to '#',class:"phone-main-content__body__under-link--link" do
          電話番号の確認が必要な理由＞

