%body
  .signup
    =render 'subheader'

    %main.signup-main
      %section.container
        %h2.container.registaration 新規会員登録
        .registaration-form
          .registaration-form__contents
            =link_to "#", class: "btn-mail" do
              = icon( 'far' ,'envelope',class: "contents__btn--icon")
              メールアドレスで登録する

            =link_to "#", class: "btn-facebook" do
              = icon('fab', 'facebook-square',  class: "contents__btn--icon")
              Facebookで登録する
          
            =link_to "#", class: "btn-google" do
              = icon( 'fab', 'google',class: "contents__btn--icon")
              Googleで登録する

    =render 'subfooter'