.profile 
  /以下ナビゲーションバー
  .nav
    %ul
      %li 
        メルカリ
        = icon('fas', 'angle-right') 
      %li 
        マイページ
        = icon('fas', 'angle-right')
      %li 支払い方法
  .profile__main
    .profile__container.flex 
      /以下サイドバーrender
      =render "sidebar"
      .profile__right__wrap
        .profile__right__content
          /以下右側要素の最上部'支払い方法'
          %h2.profile__right__content__head 支払い方法
          .card__right__content__body
            .card__right__content__body__head
              %h3 クレジットカード一覧
            .card__right__content__body__add
              /以下クレジット追加ボタン
              =link_to '#', class: 'card__right__content__body__add__card' do
                クレジットカードを追加する
            .card__right__content__body__payment
              #card__right__content__body__payment__link
                =link_to '支払い方法について ＞'
