.profile 
  .nav
    %ul
      %li 
        メルカリ
        = icon('fas', 'angle-right') 
      %li 
        マイページ
        = icon('fas', 'angle-right')
      %li ログアウト
  .profile__main
    /以下サイドバー（上部）
    .profile__container.flex 
      =render "sidebar"
      .profile__right__wrap
        .logout__right__content__body
          .logout__right__content__body__add
            =link_to '#', class: 'logout__right__content__body__add__btn' do
              ログアウト
          