.tansaction__title
  .tansaction__title__top
    購入者の受取、評価をお待ちください
  .tansaction__title__bottom
    %p データの確認に時間がかから場合がございます。
    %p 確認後、発送通知は自動で購入者へ送信されます。
.tansaction__link
  .tansaction__link__message
    %p 商品が売れた後の流れ>
    %p 出品者のよくある質問>
    %p ゆうゆうメルカリ便とは？>