.tansaction__title
  .tansaction__title__top
    受取評価をしてください
  .tansaction__title__bottom
    %p 商品が発送されました。
    %p 商品が到着したら、出品者の評価をしてください。
.tansaction__link
  .tansaction__link__message
    %p 商品が売れた後の流れ>
    %p 出品者のよくある質問>
.tansaction__evaluation
  .tansaction__evaluation__message
    %p 評価
  =form_for @item,url: evaluation_update_item_path(@item.id) do |f|
    .tansaction__evaluation__confirmation.flex
      =f.check_box :sold ,value: 1 
      %p 商品の中身を確認しました
    .tansaction__evaluation__check
      .tansaction__evaluation__check__icon.flex
      .tansaction__evaluation__check__text.flex
        %p 良い
        %p 普通
        %p 悪い
      .tansaction__evaluation__check__ridio.flex
        =f.radio_button :evaluation, 1
        =f.radio_button :evaluation, 2
        =f.radio_button :evaluation, 3
    .tansaction__evaluation__send
      = f.submit '評価を投稿する',class: 'tansaction__btn'