- if current_user.already_liked?(@item)
  = link_to 'いいねを取り消す', item_like_path(@item), method: :delete, remote: true,  id: 'link-mark'
- else
  = link_to 'いいねする', item_likes_path(@item), remote: true,  id: 'link-mark'