.tansaction__title
  .tansaction__title__top
    取引が完了しました
  .tansaction__title__bottom
    %p この度はメルカリのご利用ありがとうございました
.tansaction__link
  .tansaction__link__message
    %p 商品が売れた後の流れ>
    %p 出品者のよくある質問>
    %p ゆうゆうメルカリ便とは？>