.purchase-main
  .purchase-header
    .purchase-header__block
    = link_to root_path, class: "purchase-header__block__link" do
      = image_tag "logo_red.svg", size: "50x50"
      .purchase-header__block__word
        Fmarket
