.exhibit
  .exhibit__header
    = link_to "#", class: "exhibit__header__link" do
      = image_tag 'fmarket_logo_red.svg', class: "exhibit__header__image"
  .exhibit__contents
    .exhibit__contents__center
      .exhibit__contents__center__information
        商品の情報を入力
      .exhibit__contents__center__image
        .exhibit__contents__center__image__group
          .exhibit__contents__center__image__group__name
            出品画像
          .exhibit__contents__center__image__group--required
            必須
        .exhibit__contents__center__image__limit
          最大10枚までアップロードできます
      .exhibit__contents__center__product
        %ul.exhibit__contents__center__product__group
          %li.exhibit__contents__center__product__group__name
            %ul.exhibit__contents__center__product__group__name__list
              %li.exhibit__contents__center__product__group__name__list__description
                商品名
              %li.exhibit__contents__center__product__group__name__list--required
                必須
          %li.exhibit__contents__center__product__group__form--a
            フォーム
        %ul.exhibit__contents__center__product__group
          %li.exhibit__contents__center__product__group__name
            %ul.exhibit__contents__center__product__group__name__list
              %li.exhibit__contents__center__product__group__name__list__explanation
                商品説明
              %li.exhibit__contents__center__product__group__name__list--required
                必須
          %li.exhibit__contents__center__product__group__form--b
            フォーム
      .exhibit__contents__center__detail
        .exhibit__contents__center__detail__information
          商品の詳細
        .exhibit__contents__center__detail__list-group
          %ul.exhibit__contents__center__detail__list-group__group--a
            %li.exhibit__contents__center__detail__list-group__group__name
              %ul.exhibit__contents__center__detail__list-group__group__name__list
                %li.exhibit__contents__center__detail__list-group__group__name__list__category
                  カテゴリー
                %li.exhibit__contents__center__detail__list-group__group__name__list--required
                  必須
            %li.exhibit__contents__center__detail__list-group__group__form
              フォーム
          %ul.exhibit__contents__center__detail__list-group__group--b
            %li.exhibit__contents__center__detail__list-group__group__name
              %ul.exhibit__contents__center__detail__list-group__group__name__list
                %li.exhibit__contents__center__detail__list-group__group__name__list__condition
                  商品の状態
                %li.exhibit__contents__center__detail__list-group__group__name__list--required
                  必須
            %li.exhibit__contents__center__detail__list-group__group__form
              フォーム
      .exhibit__contents__center__delivery
        .exhibit__contents__center__delivery__information
          配送について
        .exhibit__contents__center__delivery__list-group
          %ul.exhibit__contents__center__delivery__list-group__group--a
            %li.exhibit__contents__center__delivery__list-group__group__name
              %ul.exhibit__contents__center__delivery__list-group__group__name__list
                %li.exhibit__contents__center__delivery__list-group__group__name__list__postage
                  配送料の負担
                %li.exhibit__contents__center__delivery__list-group__group__name__list--required
                  必須
            %li.exhibit__contents__center__delivery__list-group__group__form
              フォーム
          %ul.exhibit__contents__center__delivery__list-group__group--b
            %li.exhibit__contents__center__delivery__list-group__group__name
              %ul.exhibit__contents__center__delivery__list-group__group__name__list
                %li.exhibit__contents__center__delivery__list-group__group__name__list__area
                  発送元の地域
                %li.exhibit__contents__center__delivery__list-group__group__name__list--required
                  必須
            %li.exhibit__contents__center__delivery__list-group__group__form
              フォーム
          %ul.exhibit__contents__center__delivery__list-group__group--c
            %li.exhibit__contents__center__delivery__list-group__group__name
              %ul.exhibit__contents__center__delivery__list-group__group__name__list
                %li.exhibit__contents__center__delivery__list-group__group__name__list__days
                  発送までの日数
                %li.exhibit__contents__center__delivery__list-group__group__name__list--required
                  必須
            %li.exhibit__contents__center__delivery__list-group__group__form
              フォーム
      .exhibit__contents__center__price
        .exhibit__contents__center__price__information
          販売価格(300〜9,999,999)
        .exhibit__contents__center__price__list-group
          %ul.exhibit__contents__center__price__list-group__group--a
            %li.exhibit__contents__center__price__list-group__group__name
              %ul.exhibit__contents__center__price__list-group__group__name__list
                %li.exhibit__contents__center__price__list-group__group__name__list__root
                  価格
                %li.exhibit__contents__center__price__list-group__group__name__list--required
                  必須
            %li.exhibit__contents__center__price__list-group__group__form--a
              フォーム
          %ul.exhibit__contents__center__price__list-group__group--b
            %li.exhibit__contents__center__price__list-group__group__fee
              販売手数料 (10%)
            %li.exhibit__contents__center__price__list-group__group__form--b
              フォーム
          %ul.exhibit__contents__center__price__list-group__group--c
            %li.exhibit__contents__center__price__list-group__group__profit
              販売利益
            %li.exhibit__contents__center__price__list-group__group__form--c
              フォーム
      .exhibit__contents__center__bottom
        出品する
        戻る
  .exhibit__footer
    mercari,Inc