header{
  z-index: 1;
  width:100vw;
  background-color: #fff;
  height:120px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 30px;
  .header-container{
    width:1020px;
    margin:0 auto;
    // ヘッダーの中の上
    .header-top{
      display: flex;
      width:100%;
      box-sizing: border-box;
      padding-bottom: 5px;
      // メルカリのアイコン
      &__left-icon{
        width:134px;
        padding-right:10px;
      }
      // フォームの親
      &__right-form{
        width:100%;
        position: relative;
        // 検索の箱
        &__message{
          width:97%;
          padding:12px;
          font-size: 16px;
          border:1px solid;
          border-color:rgb(204, 204, 204);
          border-radius: 5px;
          background-color: rgb(245, 245, 245);
        }
        // 検索ボタン
        &__btn{
          position: absolute;
          top:10px;
          right:10px;
          cursor: pointer;
          border: none;
          background-color: rgb(245, 245, 245);
          outline: none;
          // フォントオーサム
          .icon-search{
            font-size: 18px;
          }
        }
      }
    }
    // ヘッダーの中の下の方のやつの横並びの親
    .header-bottom{
      display: flex;
      justify-content: space-between;
      width:100%;
      box-sizing: border-box;
      margin-top:10px;
      // カテゴリー一覧とブランド一覧の親
      &__left{
        display: flex;
        position: relative;
        // カテゴリー一覧
        &--category{
          text-decoration: none;
          padding-right:10px;
          padding-bottom:20px;
          font-size:15px;
          font-weight: bold;
          color:black;
          &:hover + .header-bottom__left--dropdownfirst{
            display: block;
          }
          .icon-list{
            color:red;
          }
        }
        // カテゴリー検索のドロップダウン１つ目のul
        &--dropdownfirst{
          z-index: 1;
          display: none;
          background-color: #fff;
          width:224px;
          position: absolute;
          top:20px;
          cursor: pointer;
          &:hover{
            display: block;
          }
          // カテゴリー検索のドロップダウン１つ目のli
          &--children1{
            padding:10px;
            font-size:15px;
            &:hover{
              background-color: red;
              color:white;
              .header-bottom__left--dropdownfirst--children1--dropdownsecond{
                display:block;
                &--children2{
                  &:hover{
                    background-color: rgb(245, 245, 245);
                  }
                }
              }
            }
            // カテゴリー検索のドロップダウン２つ目のul
            &--dropdownsecond{
              z-index: 1;
              display:none;
              position: absolute;
              width:224px;
              height:602px;
              top: 0;
              left: 224px;
              background-color: #fff;
              // カテゴリー検索のドロップダウン２つ目のli
              &--children2{
                color:black;
                padding:3px;
                font-size:15px;
                &:hover{
                  .header-bottom__left--dropdownfirst--children1--dropdownsecond--children2--dropdownthird{
                    display:block;
                    &--children3{
                      &:hover{
                        background-color: rgb(245, 245, 245);
                      }
                    }
                  }
                }
                // カテゴリー検索のドロップダウン３つ目のul
                &--dropdownthird{
                  z-index: 1;
                  display:none;
                  position: absolute;
                  width:224px;
                  height:602px;
                  top: 0;
                  left: 224px;
                  background-color: #fff;
                  // カテゴリー検索のドロップダウン３つ目のli
                  &--children3{
                    color:black;
                    padding:3px;
                    font-size:15px;
                  }
                }
              }
            }
          }
        }
        // ブランド一覧
        &--brand{
          text-decoration: none;
          padding-bottom:20px;
          font-size:15px;
          font-weight: bold;
          color:black;
          &:hover + .header-bottom__left--ul{
            display: block;
          }
          .icon-tag{
            color:red;
          }
        }
        // ブランド一覧のドロップダウン
        &--ul{
          z-index: 1;
          display:none;
          background-color: #fff;
          position: absolute;
          top:20px;
          left:140px;
          width:224px;
          cursor: pointer;
          &:hover{
            display: block;
          }
          &--li{
            padding:10px;
            font-size:15px;
            &:hover{
              background-color: red;
              color:white;
            }
          }
        }
      }
      // ユーザーの会員登録とログインの親
      &__right{
        box-sizing: border-box;
        &--user{
          text-decoration: none;
          margin-right:10px;
          background-color: red;
          padding:7px;
          color:white;
          border-radius: 5px;
        }
        &--rogin{
          text-decoration: none;
          border:1px solid blue;
          padding: 6px;
          color:blue;
          border-radius: 5px;
          &:hover{
            color:white;
            background-color: blue;
          }
        }
      }
    }
  }
  
}
body{
  margin:0;
}
.header_name{
  line-height: 35px;
  margin-left: 10px;
}