.exhibit {
  display: block;
  background-color: #EEEEEE;
  &__header {
    height: 128px;
    background-color: #EEEEEE;
    text-align: center;
    &__link {

    }
    &__image {
      height: 49px;
      width: 185px;
      margin-top: 40px;
    }
  }

  &__contents {
    height: calc(100% - 128px - 220px);
    width: 700px;
    background-color: white;
    margin: 0 auto;
    &__center {
      &__information {
        height: 97px;
        line-height: 97px;
        font-size: 22px;
        border-bottom: solid 2px #EEEEEE;
        text-align: center;
      }
      &__image {
        box-sizing: border-box;
        width: 700px;
        height: 100%;
        border-bottom: solid 2px #EEEEEE;
        padding: 40px;
        &__group {
          display: flex;
          height: 16px;
          &__name {
            font-size: 16px;
          }
          &--required {
            height: 15px;
            width: 24px;
            margin-left: 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
            background: #ea352d;
            margin-bottom: 5px;
          }
        }
        &__limit {
          font-size: 10px;
          margin-top: 8px;
        }
        #image-box-1 {
          display: flex;
          margin-top: 16px;
          width: 620px;
          .item-image {
            margin: 0px 10px 10px 0px;
            &__operetion {
              margin-top: 30px;
              color: #0099E8;
              font-size: 14px;
            }
          }
        }
        #image-box__container {
          height: 162px;
          background-color: #F5F5F5;
          border: 1px dashed #ccc;
          .upload__text {
            height: 82px;
            font-size: 14px;
            text-align: center;
            padding: 40px;
            
            &--a{
              margin-top: 20px;
            }
          }
        }
        // &__upload {
        //   height: 162px;
        //   width: 620px;
        //   margin-top: 16px;
        //   background-color: #F5F5F5;
        //   border: 1px dashed #ccc;
        //   &__text {
        //     height: 82px;
        //     font-size: 14px;
        //     text-align: center;
        //     padding: 40px;
            
        //     &--a{
        //       margin-top: 20px;
        //     }
        //   }
          
        // }
        // &__file {
        //   // display: none;
        // }
      }
      &__product {
        box-sizing: border-box;
        height: 355px;
        border-bottom: solid 2px #EEEEEE;
        padding: 40px;
        &__group {
          &__name {
            &__list {
              display: flex;
              &__description {
                height: 14px;
                font-size: 14px;
              }
              &__explanation {
                height: 14px;
                font-size: 14px;
                margin-top: 40px;
              }
              &--required-a {
                height: 15px;
                width: 24px;
                margin-left: 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background: #ea352d;
              }
              &--required-b {
                height: 15px;
                width: 24px;
                margin-left: 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background: #ea352d;
                margin-top: 40px;
              }
            }
          }
          &__form {
            width: 620px;
            margin: 8px 0px 0px;
            .description {
              height: 26px;
              width: 584px;
              padding: 10px 16px 8px;
            }
            .explanation {
              height: 110px;
              width: 596px;
              padding: 10px;
              font-size: 16px;
            }
          }
        }
      }
      &__detail {
        height: 261px;
        border-bottom: solid 2px #EEEEEE;
        box-sizing: border-box;
        padding: 40px;
        display: flex;
        justify-content:space-between;
        &__information {
          font-size: 14px;
          color: #888;
        }
        &__list-group {
          height: 180px;
          width: 400px;
          &__group {
            &__name {
              &__list {
                display: flex;
                &__category {

                }
                &__condition{

                }
                &--required {
                  height: 15px;
                  width: 24px;
                  margin-left: 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                  background: #ea352d;
                  margin-bottom: 5px;
                }
              }
            }
            &--a {
              position: relative;
              select {
                height: 48px;
                width: 400px;
                padding: 0px 16px;
                background-color: white;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
              }
              .form-btn {
                position: absolute;top:40px; right:20px;
                font-size: 25px;
                color: grey;
              }
            }
            &--b {
              margin-top: 40px;
              position: relative;
              select {
                height: 48px;
                width: 400px;
                padding: 0px 16px;
                background-color: white;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
              }
              .form-btn {
                position: absolute;top:40px; right:20px;
                font-size: 25px;
                color: grey;
              }
            }
          }
        }
      }
      &__delivery {
        height: 371px;
        border-bottom: solid 2px #EEEEEE;
        box-sizing: border-box;
        padding: 40px;
        display: flex;
        justify-content:space-between;
        &__information {
          font-size: 14px;
          color: #888;
          .question-btn {
            color:#0099E8;
          }
        }
        &__list-group {
          width: 400px;
          height: 290px;
          &__group {
            &__name {
              &__list {
                display: flex;
                &__postage {

                }
                &__area {
                  
                }
                &__days {

                }
                &--required {
                  height: 15px;
                  width: 24px;
                  margin-left: 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                  background: #ea352d;
                  margin-bottom: 5px;
                }
              }
            }
            &--a {
              position: relative;
              select {
              height: 48px;
              width: 400px;
              padding: 0px 16px;
              background-color: white;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              }
              .form-btn {
                position: absolute;top:40px; right:20px;
                font-size: 25px;
                color: grey;
              }
            }
            &--b {
              position: relative;
              margin-top: 40px;
              select {
              height: 48px;
              width: 400px;
              padding: 0px 16px;
              background-color: white;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              }
              .form-btn {
                position: absolute;top:40px; right:20px;
                font-size: 25px;
                color: grey;
              }
            }
            &--c {
              position: relative;
              margin-top: 40px;
              select {
              height: 48px;
              width: 400px;
              padding: 0px 16px;
              background-color: white;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              }
              .form-btn {
                position: absolute;top:40px; right:20px;
                font-size: 25px;
                color: grey;
              }
            }
          }
        }
      }
      
      &__price {
        height: 299px;
        border-bottom: solid 2px #EEEEEE;
        box-sizing: border-box;
        padding: 40px;
        display: flex;
        justify-content:space-between;
        &__information {
          font-size: 14px;
          color: #888;
          .question-btn {
            color:#0099E8;
          }
        }
        &__list-group {
          width: 400px;
          &__group {
            &__name {
              &__list {
                display: flex;
                &__root {
                  height: 72px;
                }
                &--required {
                  height: 15px;
                  width: 24px;
                  margin-left: 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                  background: #ea352d;
                  margin-bottom: 5px;
                }
              }
            }
            &__fee {
              height: 15px;
              width: 400px;
              padding: 24px 0px;
              font-size: 14px;
              .value_1 {
                font-size: 14px;
                float: right;
              }
            }
            &__profit {
              height: 35px;
              width: 400px;
              padding: 24px 0px;
              .value_2 {
                font-size: 34px;
                float: right;

              }
            }
            &__form {
              .price_calc {
                height: 26px;
                width: 124px;
                padding: 10px 16px 8px;
              }
            }
            &--a {
              display: flex;
              justify-content:space-between;
              border-bottom: solid 2px #EEEEEE;
            }
            &--b {
              display: flex;
              justify-content:space-between;
              border-bottom: solid 2px #EEEEEE;
            }
            &--c {
              display: flex;
              justify-content:space-between;
            }
          }
        }

      }
      &__bottom {
        height: 329px;
        box-sizing: border-box;
        padding: 40px;
        font-size: 14px;
        &__text-a{
          .link {
            color: #0099E8;
          }
        }
        &__text-b{
          .link {
            color: #0099E8;
          }
        }
        &__text-c{
          .link {
            color: #0099E8;
          }
        }
        &__button-red {
          .exhibit-btn {
            margin-top: 40px;
            height: 50px;
            width: 620px;
            line-height: 50px;
            text-align: center;
            background-color: #EA352D;
            color: white;
          }
        }
        &__button-gray {
          .return-btn {
            margin: 24px 170.5px 0px;
            height: 50px;
            width: 279px;
            line-height: 50px;
            text-align: center;
            background-color: #AAAAAA;
            color: white;
          }
        }
      }
    }
  }
  
  &__footer {
    height: 220px;
    width: 456px;
    text-align: center;
    margin: 0px 492px;
    padding: 40px 0px;
    &__text {
      display: flex;
      justify-content:space-between;
      color: #333333;
      font-size: 12px;
    }
    &__image {
      &__logo{
        width: 80px;
        height: 65px;
        margin: 40px auto 0;
      }
    }
    &__character {
      width: 456px;
      margin: 8px 0px 0px;
      height: 17px;
      color: #333333;
      font-size: 13px;
    }
  }
}