.personal-container{
  width:100vw;
  &__body{
    width:700px;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:50px;
    background-color: white;
    &--image{
      position: relative;
      .personal-link{
        position: absolute;
        left:260px;
        top: 30px;
        .personal-image{
          border-radius: 100px;
        }
        .personal-name{
          text-align:center;
          font-size: 20px;
          font-weight: bold;
        }
      }
      .image-bottom{
        font-weight: bold;
        position: absolute;
        left: 260px;
        top:250px;
        margin-left:50px;
      }
      .item-count{
        margin-left:100px;
      }
    }
    &--evaluation{
      border-bottom: 3px solid #f5f5f5;
      text-align: center;
      .face{
        margin:0 30px;
      }
      #icon-smile{
        color:#ef5185;
        font-size:30px;
      }
      #icon-meh{
        color:#fba933;
        font-size:30px;
      }
      #icon-frown{
        color: #6ab5d8;
        font-size: 30px;
      }
    }
    &--main{
      padding:50px;
      font-size: 18px;
    }
  }
}
.boxsize{
  box-sizing: border-box;
  margin-top:0;
  padding:100px;
}