
.phone-main-content{
  width:700px;
  background-color: #fff;
  margin:0 auto;
  box-sizing: border-box;
  &__title{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    border-bottom:3px solid #f5f5f5;
    padding:20px;
  }
  &__body{
    padding:50px 180px;
    &__text-box{
      .phone-text-top{
        font-size:12px;
        font-weight: bold;
      }
      &--boxing{
        box-sizing: border-box;
        border: 2px solid #f5f5f5;
        border-radius: 5px;
        padding:7px;
        width:100%;
      }
      .phone-text-middle{
        font-size:15px;
        margin-top:10px;
        margin-bottom:30px;
      }
      &--btn{
        width:100%;
        padding:12px;
        background-color: red;
        color:white;
      }
      .phone-text-bottom{
        font-size:15px;
        margin-top:10px;
        margin-bottom:30px;
      }
    }
    &__under-link{
      font-size:15px;
      color: skyblue;
      text-align: right;
    }
  }
}
#phone{
  background-color: red;
  &:before{
    background-color: red;
  }
  &:after{
    background-color: red;
  }
}
#top3_4{
  background-color: red;
  &:before{
    background-color:red;
  }
}