

a{
  text-decoration: none;
  color: #333;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

h3{
  margin: 0;
}

.flex{
  display: flex;
}

.body{
  background-color: #f5f5f5;
}


$FM-color-red:#ea352d;
$FM-color-gry:#eee;

/*  ナビゲーターバー */
.nav{
  background: white;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  border-top: 1px solid $FM-color-gry;

  ul{
    width: 1020px;
    margin: 0 auto;
    list-style: none;
    display: flex;
  }

  li{
    line-height: 48px;
  }

}
.mypage__body{
  background: #f5f5f5;
  color: #333;
}


.mypage__main{
  margin: 40px auto 0;
  width:1024px;
  height: 100%;
}
/*  サイドバー */
.mypage__container{
  display: flex;
  &--side{
    width: 280px;
    margin-right: 40px;

    &__icon{
      padding-right: 16px;
      line-height: 50px;
      transition: all 0.5s;
      opacity: 0.5;
    }
    &__list{
      padding: 0;
      margin: 0;
      list-style: none;
      background-color: white;

      &__top{
        font-weight: 600;
        background-color: $FM-color-gry;
        opacity: 1;
      }
      li{
        border-top: 1px solid $FM-color-gry;
        line-height: 18px;
        display: flex;
        justify-content: space-between;
      }
      /*  サイドバー(ホバー時の(>)のアクション) */
      li:hover{
        background-color: rgb(248, 248, 248);
        .mypage__container--side__icon{
          transform: translate(5px,0);
          opacity: 1;
        }
      }
      a{
        color: #333;
        display: block;
        text-decoration: none;
        height: 18px;
        padding: 16px;
      }
    }
  }
}
#side_title{
  margin-top: 15px;
}

.mypage__container--side__icon{
  padding-right: 16px;
  transition: all 0.5s;
  opacity: 0.3;
  font-size: 20px;
  line-height: 50px;
  display: block;
  padding-top: 15px;
}

.mypage{
  /*  ユーザー情報 */
  &__top{
    width: 700px;
    height: 200px;
    background-color: rgb(218, 177, 218);
    background: url(d2132ab97f92c4f271afe801ea0939f4_m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    a{
      display: block;
      padding: 16px;
    }
    &__icon{
      margin: 0 auto;
    }
    h2{
      margin: 8px 0 0;
      font-size: 14px;
    }
    &__number{
      margin: 8px 0 0;
    }
  }
  /*  ユーザーアイコンの形 */
  &__icon{
    border-radius: 50px;
  }
  /*  タブ選択 */
  &__select{
    &__tab{
      ul{
        display: flex;
        text-align: center;
      }

      li{
        display: block;
        width: 50%;
        font-size: 16px;
        line-height: 72px;
        margin: 0;
      }
    }
    /*  タブ内容（お知らせ/やることリスト）  */
    &__body{
      .news__icon{
        background-color: rgb(192, 179, 179);
      }

      a{
        display: flex;
        position: relative;
      }
      
      &__text{
        margin: 0 40px 0 20px;
      }
      /*  タブ内容最下、一覧タグ  */
      .go__index{
        a{
          display: block;
          height: 56px;
          margin: 0 auto;
          background-color: $FM-color-gry;
          line-height: 56px;
          text-align: center;
        }
      }
    }

    /*  タブ（取引中/過去の取引）親要素  */
    &__products{
      margin: 40px 0 0 ;
    }

    /*  タブ（取引中/過去の取引）親要素  */
    &__head__message{
      background-color: #fafafa;
      margin: 0;
      font-size: 16px;
      line-height: 72px;
      padding: 0 16px
    }
  }


  &__item{
    background-color: $FM-color-gry;
  
    &__bottom{
      background-color: $FM-color-gry;
    }
     /*  タブ選択時用(取引中/過去の取引) */
    &__bottom.actives{
      display: block;
      width: 50%;
      font-size: 16px;
      line-height: 72px;
      margin: 0;
      background-color: white;
      border-top: 2px solid $FM-color-red;
    }
  }
  /*  タブ選択時用(お知らせ/やることリスト) */
  &__item.active{
    display: block;
    width: 50%;
    font-size: 16px;
    line-height: 72px;
    margin: 0;
    background-color: white;
    border-top: 2px solid $FM-color-red;
  }
  /*  タブ非選択であれば非表示(お知らせ/やることリスト) */
  &__content{  
    display: none;
  
    &__list{
      /*  タブ用アイコン(>)のposition用の親要素とする */
      a{         
        position: relative;
      }
      /*  タブ用アイコン(>) */
      &__icon{   
        position: absolute;
        right: 0;
        top: 50%;
        font-size: 20px;
      }
    }
  
  
    &__list li{
      background-color: white;
      padding: 16px;
      border-bottom: 1px solid $FM-color-gry;
    }
  
    /*  タブ非選択であれば非表示(取引中/過去の取引) */
    &__bottom{   
      display: none;
      }
  
    /*  タブ内容無し用 */
    &__no{    
      background-color: white;
      height: 236px;
      width: 700px;
      /*  タブ内容無しのメッセージ */
      p{        
        margin: 0;
        font-size: 16px;
        line-height: 236px;
        text-align: center;
        color: #cccccc;
      }
    }
    /*  タブが選択であれば表示(取引中/過去の取引) */
    &__bottom.show{  
      display: block;
    }
  }
  /*  タブが選択であれば表示(お知らせ/やることリスト) */
  &__content.show{  
    display: block;
  }
}

/*---------------------------------------ユーザー編集ページ（プロフィール）--------------------------------------- */


.profile{
  background-color: #f5f5f5;
  &__main{
    margin: 40px auto 0;
    width: 1024px;
    height: 100%;
  }
  &__right{
    /*  右側編集ページ */
    &__wrap{
      height: 100%;
      width: 700px;
      background-color: white;
    }
    /*  form */
    &__input{
      /*  form(ニックネーム) */
      &__nickname{
        width: 190px;
        padding: 10px 16px 8px;
        height: 28px;
        margin:  0 0 55px 8px;
        vertical-align: middle;
        font-size: 16px;
      }
      /*  form(自己紹介) */
      &__introduction{
        font-size: 16px;
      }
      /*  form(送信ボタン) */
      &__send{
        margin: 16px 0 0;
        width: 100%;
        background: $FM-color-red;
        border: 1px solid $FM-color-red;
        color: white;
        height: 48px;
        font-size: 16px;
      }
    }

    &__content{
      /*  右側最上部タイトル 'プロフィール' */
      &__head{
        margin: 0;
        font-size: 24px;
        padding: 8px 24px;
        text-align: center;
        margin: 0 auto;
        border-bottom: 1px solid #f5f5f5;
      }

      &__edit{
        padding: 72px 16px 24px;
        background: url(d2132ab97f92c4f271afe801ea0939f4_m.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        height: 64px;
        opacity: 0.8;

        &__nickname{
          display: block;
          margin: 0 auto;
        }
      }
      /*  右側底部タイトル padding */
      &__bottom{
        padding: 40px 16px;
      }
    }
  }
}
/*--------------------------------------- ユーザー編集ページ（発送元・お届け先住所変更） --------------------------------------- */




.delibver{

  &__right{

  
    &__input{
      width: 100%;
      margin: 8px 0 0;
      height: 26px;
      padding: 10px 0 8px;
      font-size: 16px;
    }
    &__content{

      &__group{
        text-align: center;
        margin-top: 32px;
        select{
          width: 100%;
          position: relative;
          z-index: 2;
          height: 48px;
          padding: 0 26px;
          border: 1px solid #ccc;
          background: 0;
          font-size: 16px;
          line-height: 1.5;
          cursor: pointer;
          -webkit-appearance: none;
        }
        i{
          position: absolute;
          bottom: -5px;
          right: 0;
        }
        &__icon{
          position: relative;
        }
        &__top{
        }
        &__name{
          font-weight: 600;
          font-size: 15px;
        }
        
      }
    }
  }
  &__tag{
    padding: 2px 4px;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
    &__require{
      background: $FM-color-red;
      
    }
    &__arbitrary{
      background: #ccc;
    }
  }
}

.profile__right__content__form{
  form{
    padding: 40px 40px 64px;
    max-width: 343px;
    margin: 0 auto;
  }
}


/*--------------------------------------- ユーザー編集ページ（支払い方法追加） --------------------------------------- */

/*  右側コンテンツ */
.card__right{
  &__content{
    
    &__body{
      padding: 64px;
      height: 180px;
      &__head{
        display: block;
        width: 320px;
        margin: 0 auto;
      }
      /*  追加ボタン */
      &__add{
        margin-top: 35px;
        height: 42%;
        text-align: center;
        border-bottom: 1px solid $FM-color-gry;
        &__card{
          padding: 15px 55px;
          border-bottom: 1px solid $FM-color-gry;
          background: $FM-color-red;
          border: 1px solid $FM-color-red;
          color: white;
        }
      }
      /*  支払い支払い方法について（link） */
      &__payment{
        margin-top: 40px;
        float: right;
        font-size: 13px;
        a{
          color: #0099e8;
        }
      }
    }
  }
}

/*--------------------------------------- ユーザー編集ページ（ログアウト） --------------------------------------- */

.logout__right__content__body{
  padding: 64px;
  height: 100%;

  &__add{
    height: 42%;
    text-align: center;
    font-size: 14px;
    &__btn{
      padding: 15px 125px;
      border-bottom: 1px solid $FM-color-gry;
      background: $FM-color-red;
      border: 1px solid $FM-color-red;
      color: white;
    }
  }
}


/*--------------------------------------- ユーザー編集ページ（本人確認） --------------------------------------- */

.identification{

  &__right{
    &__input{
      width: 100%;
      margin: 8px 0 0;
      height: 26px;
      padding: 10px 0 8px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid #ccc;

      &__send{
        margin: 30px 0 0;
        width: 100%;
        background: $FM-color-red;
        border: 1px solid $FM-color-red;
        color: white;
        height: 48px;
        font-size: 16px;
      }
    }
    &__content{
      &__middle{
        p{
          margin: 0;
          font-size: 14px;
          margin-top: 8px;
        }
        a{
          justify-content: right;
          color: #0099e8;
          float: right;
          margin-top: 8px;
        }
        i{
          line-height: 37px;
        }
      }
      &__group{
        margin-top: 32px;
        font-size: 12px;
        &__name{
          font-weight: 600;
          line-height: 22px;
        }
        select{
          width: 100%;
          position: relative;
          z-index: 2;
          height: 48px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: 0;
          font-size: 16px;
          line-height: 1.5;
          cursor: pointer;
      
          -webkit-appearance: none;
        }
      
        li{
          position: relative;
        }
      }
      &__form{
        form{
          padding: 64px;
          margin: 0 auto;
        }
      }
    }
  }
  &__tag{
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    vertical-align: top;
    line-height: 20px;
    &__require{
      background: $FM-color-red;
      
    }
    &__arbitrary{
      background: #ccc;
    }
  }
  &__rarrow_bottom{
    position: absolute;
    right: 15px;
    top: 50%;
    z-index: 2;
    color: #888;
    font-size: 25px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}


/*--------------------------------------- ユーザー新規登録ページ/ウィザード(会員情報入力) --------------------------------------- */

.newuser{
  background-color: #f5f5f5;
  &__header{
    height: 128px;
    &__wrap{
      width: 750px;
      margin: 0 auto;
    }
    &--left{
      margin: 40px 0 0;
      font-size: 30px;
    }
    &--right{
      margin: 20px 30px 0;

      ul{
        padding-top: 15px;
      }

      li{
        position: relative;
        font-size: 12px;
        margin: 0 10px 0 0;
        p{
          width: 100px;
          text-align: center;
        }
      }
      &__progress-a{
        background-color: red;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        text-align: center;
        z-index: 3;
        margin: 8px auto 0;
      }
      &__progress-a::after{
        display: block;
        content: '';
        width: 60px;
        height: 2px;
        background: #ccc;
        position: absolute;
        bottom: 5px;
        left: 56px;
      }
      &__progress-b{
        background-color: #ccc;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        margin: 8px auto 0;
      }
      &__progress-b::before{
        display: block;
        content: '';
        width: 60px;
        height: 2px;
        background: #ccc;
        position: absolute;
        bottom: 5px;
        left: -60px;
        z-index: 0;
        left: -16px;
      }
      &__progress-ab{
        background-color: #ccc;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        z-index: 3;
        margin: 8px auto 0;
      }
      &__progress-ab::before{
        display: block;
        content: '';
        width: 60px;
        height: 2px;
        background: #ccc;
        position: absolute;
        bottom: 5px;
        left: -60px;
        z-index: 0;
        left: -16px;
      }
      &__progress-ab::after{
        display: block;
        content: '';
        width: 60px;
        height: 2px;
        background: #ccc;
        position: absolute;
        bottom: 5px;
        z-index: 0;
        left:12px;
        left: 56px;
      }
    }
  }

  &__body{
    width: 700px;
    background-color: white;
    margin: 0 auto;

    &__flex{
      justify-content: end;
    }
    &__input{
      width: 100%;
      margin: 8px 0 0;
      height: 26px;
      padding: 10px 16px 8px;
      font-size: 16px;

      &__flex{
        width: 80%;
        height: 26px;
        padding: 10px 7px 8px;
        font-size: 16px;
      }
      &__send{
        margin-top: 32px;
        width: 100%;
        background: $FM-color-red;
        border: 1px solid $FM-color-red;
        color: white;
        height: 48px;
        font-size: 16px;
      }
    }
    &__content{
    
      &__group{
        text-align: center;
        margin-top: 32px;
        &__name{
          font-weight: 600;
          font-size: 14px;
        }
        &__birth{
          max-width: 343px;;
          height: 50px;
          text-align: left;
        }
        
        h1{
          margin-top: 15px;
          font-size: 16px;
          font-weight: 600;
          text-align: left;
        }
        p{
          font-size: 14px;
          text-align: left;
        }
      }
      &__reveal__pass{
        margin-top: 10px;
        text-align: left;
      }
      &__reveal__space{
        margin-top: 10px;
        margin-left: -280px;
        display: inline-block;
        background-color: #f5f5f5;
      }
      &__terms{
        margin-top: 30px;
        font-size: 14px;

        a{
          color: #0099e8;
        }
      }

      &__bottom{
        margin-top: 25px;
        color: #0099e8;
        font-size: 14px;
        text-align: right;
      }

      &__privacymessage{
        margin-top: 30px;
        font-size: 12px;
        background-color: #f5f5f5;
        padding: 8px 16px;
        a{
          color: #0099e8;
        }
      }
    }


    &__content{
      &__head{
        font-size: 24px;
        padding: 32px;
        text-align: center;
        margin: 0 auto;
        border-bottom: 1px solid #f5f5f5;
        font-weight: 600;
        
      &__form{
        form{
          padding: 40px 40px 64px;
        }
      }
    }
    select{
      width: 22%;
      position: relative;
      z-index: 2;
      height: 48px;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
      -webkit-appearance: none;
      left: 0;
    }
  }
}
}
.newuser__body__content__form__wrap{
  max-width: 343px;
  margin: 0 auto;
}

.gry__message{
  margin: 8px 0 0;
  line-height: 1.5;
  color: #888;
  text-align: left;
}

/*--------------------------------------- ユーザー新規登録ページ/ウィザード(お届け先住所入力) --------------------------------------- */

#top3_1::after{
  background-color: red;
}

#top3_2{
  background-color: red;
}

#top3_2::before{
  background-color: red;
}

#top3_2::after{
  background-color: red;
}

#top3_3{
  background-color: red;
}

#top3_3::before{
  background-color: red;
}