.breadcrumbs-list{
  font-size: 15px;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}
.nav{
  height: 40px;
  &__info{
  padding-top: 12px;
  width: 1020px;
  margin: 0 auto;
  }
}